<%= form_with(model: lecturer, local: true, html: { multipart: true }) do |form| %>
  <% if lecturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecturer.errors.count, "error") %> prohibited this lecturer from being saved:</h2>
      <ul>
        <% lecturer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :id_number %>
    <%= form.text_field :id_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ["Male", "Female", "Other"], prompt: "Select Gender" %>
  </div>

  <div class="field">
    <%= form.label :qualification %>
    <%= form.text_field :qualification %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <%= form.label :passport_photo %>
    <%= form.file_field :passport_photo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
